<div class="container bg-white">
    <div class="row">
        <div class="col pt-4 pb-1">
            <h1 class="pageheader d-inline-block">History</h1>
            <select class="form-control form-control-lg form-control-plaintext d-inline-block w-auto">
                <option>2015</option>
                <option>2016</option>
                <option>2017</option>
                <option selected>2018</option>
            </select>
        </div>
    </div>
</div>

<div class="container bg-white">
    <div class="row">
        
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-3">
            <ul class="list-group month-stats">
                <li class="list-group-item text-large text-white bg-secondary"><strong>January </strong>2018</li>
                <li class="list-group-item">
                    <span class="ml-2">Electricity</span>
                    <span class="float-right"><strong>155</strong> uah</span>
                </li>
                <li class="list-group-item">
                    <span class="ml-2">Natural gas</span>
                    <span class="float-right"><strong>255.32</strong> uah</span>
                </li>
                <li class="list-group-item">
                    <span class="ml-2">Water</span>
                    <span class="float-right"><strong>1256.25</strong> uah</span>
                </li>
                <li class="list-group-item">
                    <span class="ml-2">Garbage</span>
                    <span class="float-right"><strong>15</strong> uah</span>
                </li>
                <li class="list-group-item">
                    <span class="ml-2">Internet</span>
                    <span class="float-right"><strong>55</strong> uah</span>
                </li>
                <li class="list-group-item bg-light">
                    <span><strong>Total</strong></span>
                    <span class="float-right text-large"><strong>2571.20</strong> uah</span>
                </li>
            </ul>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-3">
            <ul class="list-group month-stats">
                <li class="list-group-item text-large text-white bg-secondary"><strong>Ferbruary </strong>2018</li>
                <li class="list-group-item">
                    <span class="ml-2">Electricity</span>
                    <span class="float-right"><strong>155</strong> uah</span>
                </li>
                <li class="list-group-item">
                    <span class="ml-2">Natural gas</span>
                    <span class="float-right"><strong>255.32</strong> uah</span>
                </li>
                <li class="list-group-item">
                    <span class="ml-2">Water</span>
                    <span class="float-right"><strong>1256.25</strong> uah</span>
                </li>
                <li class="list-group-item">
                    <span class="ml-2">Garbage</span>
                    <span class="float-right"><strong>15</strong> uah</span>
                </li>
                <li class="list-group-item">
                    <span class="ml-2">Internet</span>
                    <span class="float-right"><strong>55</strong> uah</span>
                </li>
                <li class="list-group-item bg-light">
                    <span><strong>Total</strong></span>
                    <span class="float-right text-large"><strong>2571.20</strong> uah</span>
                </li>
            </ul>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-3">
            <ul class="list-group month-stats">
                <li class="list-group-item text-large text-white bg-secondary"><strong>March </strong>2018</li>
                <li class="list-group-item">
                    <span class="ml-2">Electricity</span>
                    <span class="float-right"><strong>155</strong> uah</span>
                </li>
                <li class="list-group-item">
                    <span class="ml-2">Natural gas</span>
                    <span class="float-right"><strong>255.32</strong> uah</span>
                </li>
                <li class="list-group-item">
                    <span class="ml-2">Water</span>
                    <span class="float-right"><strong>1256.25</strong> uah</span>
                </li>
                <li class="list-group-item">
                    <span class="ml-2">Garbage</span>
                    <span class="float-right"><strong>15</strong> uah</span>
                </li>
                <li class="list-group-item">
                    <span class="ml-2">Internet</span>
                    <span class="float-right"><strong>55</strong> uah</span>
                </li>
                <li class="list-group-item bg-light">
                    <span><strong>Total</strong></span>
                    <span class="float-right text-large"><strong>2571.20</strong> uah</span>
                </li>
            </ul>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-3">
            <ul class="list-group month-stats">
                <li class="list-group-item text-large text-white bg-secondary"><strong>May </strong>2018</li>
                <li class="list-group-item">
                    <span class="ml-2">Electricity</span>
                    <span class="float-right"><strong>155</strong> uah</span>
                </li>
                <li class="list-group-item">
                    <span class="ml-2">Natural gas</span>
                    <span class="float-right"><strong>255.32</strong> uah</span>
                </li>
                <li class="list-group-item">
                    <span class="ml-2">Water</span>
                    <span class="float-right"><strong>1256.25</strong> uah</span>
                </li>
                <li class="list-group-item">
                    <span class="ml-2">Garbage</span>
                    <span class="float-right"><strong>15</strong> uah</span>
                </li>
                <li class="list-group-item">
                    <span class="ml-2">Internet</span>
                    <span class="float-right"><strong>55</strong> uah</span>
                </li>
                <li class="list-group-item bg-light">
                    <span><strong>Total</strong></span>
                    <span class="float-right text-large"><strong>2571.20</strong> uah</span>
                </li>
            </ul>
        </div>        
        
    </div>
</div>
 
