<div class="container bg-white">
    <div class="row">
        <div class="col pt-4 pb-1">
            <h1 class="pageheader">Setings</h1>
            <form class="mb-3">
                <div class="form-row">
                    <div class="col-12 mt-4">
                        <h5>General settings</h5>
                        <hr>
                    </div>
                    <label for="xxx" class="col-md-3 col-form-label">Begin counting</label>
                    <div class="col-md">
                        <select class="form-control custom-select w-auto" id="inlineFormCustomSelect">
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018" selected>2018</option>
                            <option value="2019">2019</option>
                        </select>
                        <select class="form-control custom-select w-auto" id="inlineFormCustomSelect">
                            <option value="January">January</option>
                            <option value="February">February</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="August">August</option>
                            <option value="September">September</option>
                            <option value="October">October</option>
                            <option value="November">November</option>
                            <option value="December">December</option>
                        </select>
                    </div>
                    <div class="col-12 mt-4">
                        <h5>Services</h5>
                        <hr>
                    </div>
                    <label for="xxx" class="col-md-3 col-form-label">Electricity price</label>
                    <div class="col-md-9 mb-1">
                        <input type="text" class="form-control text-right" id="xxxxx" placeholder="uah/kWh">
                    </div>
                    <label for="xxx" class="col-md-3 col-form-label">Start meter value</label>
                    <div class="col-md-9 mb-4">
                        <input type="text" class="form-control text-right" id="xxxxx" placeholder="">
                    </div>

                    <label for="xxx" class="col-md-3 col-form-label">Natural gas price</label>
                    <div class="col-md-9 mb-1">
                        <input type="text" class="form-control text-right" id="xxxxx" placeholder="uah/m3">
                    </div>
                    <label for="xxx" class="col-md-3 col-form-label">Start meter value</label>
                    <div class="col-md-9 mb-4">
                        <input type="text" class="form-control text-right" id="xxxxx" placeholder="">
                    </div>

                    <label for="xxx" class="col-md-3 col-form-label">Water price</label>
                    <div class="col-md-9 mb-1">
                        <input type="text" class="form-control text-right" id="xxxxx" placeholder="uah/m3">
                    </div>
                    <label for="xxx" class="col-md-3 col-form-label">Start meter value</label>
                    <div class="col-md-9 mb-4">
                        <input type="text" class="form-control text-right" id="xxxxx" placeholder="">
                    </div>
                    <div class="col text-center">
                        <input class="btn btn-primary" type="submit" value="Save">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>